.overview {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.appName {
  font-family: "Hiragino Sans";
  font-weight: 600;
  font-size: 90px;
}

.ai {
  color: #2589d0;

}

.startBtn {
  padding: 5px;
}

.intro {
  font-family: "Hiragino Sans";
  font-weight: 300;
  font-size: 20px;
}

.introBtn {
  padding-bottom: 20px;
}

.intro-title {
  font-family: "Hiragino Sans";
  font-size: 25px;
  border-bottom: solid 3px red;
}

.intro-text {
  font-family: "Hiragino Sans";
  font-weight: 300;
  font-size: 20px;
}

.intro-ul {
  font-family: "Hiragino Sans";
  font-size: 25px;
}

.intro-box {
  padding-bottom: 15px;
}



