.overview {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.appName {
  font-family: "Hiragino Sans";
  font-weight: 600;
  font-size: 90px;
}

.ai {
  color: #2589d0;

}

.startBtn {
  padding: 5px;
}

.intro {
  font-family: "Hiragino Sans";
  font-weight: 300;
  font-size: 20px;
}

.intro-area {
  position: relative;
  padding: 0.10em 1em;
  border: solid 2px black;
  border-radius: 3px 0 3px 0;
}

.intro-area:before, .intro-area:after {
  content: '';
  position: absolute;
  width:15px;
  height: 15px;
  border: solid 2px black;
  border-radius: 50%;
}

.intro-area:after {
  top:-12px;
  left:-12px;
}

.intro-area:before {
  bottom:-12px;
  right:-12px;
}



